.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 20px;
    padding-left: 20px;
    
    a {
        margin-top: 20px;
        cursor: pointer;
    }
}

.menu {
    display: flex;
    h3 {
        margin-right: 20px;
        margin-left: 20px;
        cursor: pointer;
    }
}

.rightMenu {
    display: flex;
    align-items: center;
    h3 {
        margin-right: 20px;
        margin-left: 20px;
        cursor: pointer;
    }
    svg {
        margin-top: 0;
        cursor: pointer;
    }
}

.burgerNav {
    position: fixed;
    width: 300px;
    background: white;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    list-style: none;
    text-align: start;
    // transform: translateX(0);

    li {
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
            a {
            font-weight: 600;
        }
    }
}

.closeContainer {
    display: flex;
    justify-content: flex-end;

    svg {
        cursor: pointer;
    }
}